<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Employee details</h1>
    <a href="{% url 'empadd' %}">Add employee</a>
    <table border="1">
        <tr>
            <th>Emp_id</th>
            <th>Emp_name</th>
            <th>Emp_salary</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for i in alldata %}
        <tr>
            <td>{{i.emp_id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.salary}}</td>
            <td><a href="{% url 'empup' i.id %}">update</a></td>
            <td><a href="{% url 'empdel' i.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>