<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Order details</h1>
    <table border="1">
        <tr>
            <th>pro_id</th>
            <th>Cust_id</th>
            <th>Order_id</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>update</th>
            <th>delete</th>
        </tr>
        {% for i in all_data %}
        <tr>
            <td>{{ i.product_refer}}</td>
            <td>{{ i.customer_refer }}</td>
            <td>{{ i.order_id }}</td>
            <td>{{ i.quantity }}</td>
            <td>{{ i.total }}</td>
            <td><a href="{% url 'orderup' id=i.order_id %}">update</a></td>
            <td><a href="{% url 'orderdel' id=i.order_id %}">delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>