<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>product details</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>PRODUCT NAME</th>
            <th>PRICE</th>
            <th>UPDATE</th>
            <th>DELETE</th>
        </tr>
        {% for i in all_data %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.price}}</td>
            <td><a href="{% url 'update' i.id %}">update</a></td>
            <td><a href="{% url 'delete' i.id %}">delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>